# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
pymongo
bson
flask
requests
flask-bootstrap
flask-restplus
flask-swagger-ui
werkzeug
azure-functions
azure-cosmos
pymongo
azure-cli-core
feedgen
